node_modules/
dist/
coverage/
.env
.env.local
.env.production
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
tests/

generate_test_csv copy.js
generate_test_csv.js
ggenerate_test_csv.js

test_500k.csv
test_bulk.csv